
/*Variables*/

:root {
  --screen-xs: 480px;
  --screen-sm: 768px;
  --screen-md: 992px;
  --screen-lg: 1024px;
  --screen-xl: 1200px;
  --screen-xxl: 1600px;
  --color-blue: #27a6e5;
}

/*Common*/

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 0 !important;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: -0.6px;
  color: #fff;
  width: 100%;
  min-width: 320px;
  position: relative;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  font-feature-settings: "pnum" 1, "kern" 1, "liga" 1;
  box-sizing: border-box;
  cursor: default;
  background: #1e1d32;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 34px;
  }
}

section,
footer {
  position: relative;
  top: 100%;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  h3 {
    font-size: 30px;
    line-height: 1.5;
  }
}

.page {
  width: 100%;
  height: 100%;
  position: relative;
}

/*Components*/

.container {
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
    padding: 0 18px;
  }
}

.link {
  text-decoration-skip: ink;
  text-decoration: underline;
  color: var(--color-blue);
  border: none;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  padding: 0;
  display: inline;
  transition: color 0.3s linear;
  cursor: pointer;
}

.link:hover {
  color: #42c8f4;
}

.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: var(--color-blue);
  border: solid 1px #42c8f4;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 0 20px;
  min-width: 230px;
  margin: 0 auto;
  transition: background-color 0.3s linear;
  cursor: pointer;
  text-transform: capitalize;
}

.button:hover,
.button:active {
  background-color: #42c8f4;
}

/*Heroes*/

#heroes {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  transform: translate3d(0, 0, 0) rotate(0.02deg);
  overflow: hidden;
}

@media (min-width: 1024px) {
  #heroes {
    display: block;
  }
}

.heroes__wrapper {
  display: flex;
  height: 100%;
}

.heroes__side {
  position: relative;
  width: 50%;
  flex: 0 0 50%;
}

.hero1,
.hero2,
.hero3,
.hero4,
.hero5 {
  opacity: 0;
}

.heroes__view1 .hero1,
.heroes__view2 .hero2,
.heroes__view3 .hero3,
.heroes__view4 .hero4,
.heroes__view5 .hero5 {
  opacity: 1;
}

/* kiko */

.heroes__kiko > .hero1,
.heroes__kiko > .hero2 {
  position: absolute;
  width: 42%;
  left: 0;
  bottom: 10%;
}

.heroes__kiko > .hero3 {
  position: absolute;
  width: 46%;
  left: 0;
  bottom: 12%;
}

.heroes__kiko > .hero4,
.heroes__kiko > .hero5 {
  position: absolute;
  width: 74%;
  left: -2%;
  bottom: 24%;
}

/* mor */

.heroes__mor > .hero1,
.heroes__mor > .hero2 {
  position: absolute;
  width: 50%;
  right: 5%;
  bottom: 11%;
}

.heroes__mor > .hero3 {
  position: absolute;
  width: 60%;
  right: 0;
  bottom: 20%;
}

.heroes__mor > .hero4,
.heroes__mor > .hero5 {
  position: absolute;
  width: 70%;
  right: -2%;
  bottom: 28%;
}

/*Header*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat top center;
  background-size: cover;
  transform: translate3d(0, 0, 0) scale(1.1);
  will-change: transform;
}

.header__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding-bottom: 30px;
}

.header__content {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  min-width: 255px;
  margin: auto auto 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .header__content {
    max-width: 400px;
    font-size: 32px;
    line-height: 1.4;
    margin: 0 auto;
  }

  .header__content p {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .header__content {
    max-width: 532px;
  }
}

.header .button {
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  min-width: 140px;
}

@media (min-width: 768px) {
  .header .button {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    min-width: 230px;
  }
}

/*Kiko*/

.header__kiko {
  position: absolute;
  left: 5%;
  bottom: 30%;
  width: 35.8%;
  transform: translate3d(0, 0, 0);
}

@media (min-width: 425px) {
  .header__kiko {
    left: 2%;
    bottom: 25%;
  }
}

@media (max-device-width: 768px) and (orientation: landscape)  {
  .header__kiko {
    bottom: 0;
  }
}

@media (min-width: 768px) {
  .header__kiko {
    left: 0;
    width: 25%;
    bottom: 15%;
  }
}

@media (min-width: 1024px) {
  .header__kiko {
    display: none;
  }
}

/*Mor*/

.header__mor {
  position: absolute;
  right: 2%;
  bottom: 30%;
  width: 46.9%;
  transform: translate3d(0, 0, 0);
}

@media (min-width: 425px) {
  .header__mor {
    width: 35%;
    bottom: 28%;
  }
}

@media (max-device-width: 768px) and (orientation: landscape)  {
  .header__mor {
    bottom: -20%;
  }
}

@media (min-width: 768px) {
  .header__mor {
    width: 26.9%;
    bottom: 20%;
  }
}

@media (min-width: 1024px) {
  .header__mor {
    display: none;
  }
}

.arrow-down-btn > img {
  pointer-events: none;
}

@media (min-width: 768px) {
  .arrow-down-btn {
    display: block;
    background: transparent;
    border: none;
    animation: float 1.8s infinite;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 22px;
    height: 22px;
    transform: translate(-50%, -12%);
  }
}

.header__robot {
  position: absolute;
  right: -50%;
  bottom: -8%;
  width: 120%;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

@media (min-width: 480px) {
  .header__robot {
    bottom: -5%;
    right: -50%;
    width: 110%;
  }
}

@media (max-device-width: 768px) and (orientation: landscape)  {
  .header__robot {
    bottom: -60%;
    right: -30%;
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .header__robot {
    right: -10%;
    bottom: 2%;
    width: 50%;
  }
}

.header__droid {
  position: absolute;
  top: 5%;
  right: -16%;
  width: 60%;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

@media (min-width: 480px) {
  .header__droid {
    top: 0;
    right: -4%;
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .header__droid {
    right: 0;
    width: 20%;
  }
}

.header__monster {
  position: absolute;
  left: -30%;
  bottom: 8%;
  width: 90%;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

@media (min-width: 480px) {
  .header__monster {
    left: -14%;
    bottom: 10%;
    width: 60%;
  }
}

@media (max-device-width: 768px) and (orientation: landscape) {
  .header__monster {
    bottom: -10%;
    left: -10%;
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .header__monster {
    left: 0;
    width: 36%;
  }
}


.header__birds {
  position: absolute;
  top: 5%;
  left: -30%;
  width: 80%;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

@media (min-width: 480px) {
  .header__birds {
    left: -14%;
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .header__birds {
    left: 0;
    width: 30%;
  }
}

.header__clouds {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat bottom center;
  background-size: 200%;
}

@media (min-width: 1024px) {
  .header__clouds {
    background-size: 100%;
  }
}

.header__text-wrapper {
  position: relative;
  text-align: center;
}

@media (min-width: 768px) {
  .header__text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header__main-title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  max-width: 214px;
  margin: 40px auto 20px;
}

@media (min-width: 768px) {
  .header__main-title {
    font-size: 64px;
    max-width: 504px;
    line-height: 1.2;
    margin: 0 auto 20px;
  }
}

@media (min-width: 768px) {
  .header__additional-title {
    font-size: 52px;
    font-weight: 500;
  }
}

.slogan {
  max-width: 220px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.3;
}

@media (min-width: 768px) {
  .slogan {
    font-size: 22px;
    max-width: 388px;
  }
}

/*About*/

.about__wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}


@media (min-width: 1024px) {
  .about__wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.about__text {
  max-width: 586px;
  margin: 30px auto 0;
}

.about__content {
  position: relative;
  top: 100%;
  text-align: left;
  background: #1e1d32;
  font-size: 18px;
  line-height: 1.8;
}

@media (min-width: 1024px) {
  .about__content {
    font-size: 24px;
  }
}

.about__entry {
  background: #121327;
}

.about__first-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 1024px) {
  .about__first-text {
    padding-top: 54px;
    padding-bottom: 54px;
  }
}

.vgo {
  background: #1e1d32;
}

.wax {
  background: #25243c;
}

.vgo__content,
.wax__content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

@media (min-width: 1024px) {
  .vgo__content,
  .wax__content {
    flex-flow: row nowrap;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}


@media (min-width: 1024px) {
  .vgo__description,
  .wax__description {
    max-width: 872px;
  }
}

.wax__logo {
  width: 220px;
  margin-bottom: 8px;
}

@media (min-width: 1024px) {
  .wax__logo {
    width: 260px;
    order: 1;
    flex: 0 0 auto;
    margin-left: 40px;
    margin-bottom: 0;
  }
}

.vgo__logo {
  width: 160px;
  margin-bottom: 8px;
}

@media (min-width: 1024px) {
  .vgo__logo {
    width: 220px;
    flex: 0 0 auto;
    margin-right: 60px;
    margin-bottom: 0;
  }
}

/*Advantages*/

.advantages {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 1024px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.advantage {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px 0;
  font-size: 16px;
  text-align: left;
}

@media (min-width: 1024px) {
  .advantage {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 36px 0;
    font-size: 18px;
  }
}

.advantage__title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.4;
}

@media (min-width: 1024px) {
  .advantage__title {
    font-size: 30px;
    padding: 0 40px;
    max-width: 398px;
  }

  .advantage:nth-child(even) {
    padding-left: 0;
  }
}


@media (min-width: 1024px) {
  .advantage__text {
    padding: 20px 50px;
    max-width: 678px;
    border-left: 1px solid #79758b;
  }

  .advantage:nth-child(odd) {
    padding-right: 0;
  }
}

.advantage__image {
  margin-bottom: 20px;
  transform: translate3d(0, 60px, 0);
  opacity: 0.001;
  transition: all 1s;
}

.on-screen {
   transform: translate3d(0, 0, 0) !important;
   opacity: 1;
 }

@media (min-width: 1024px) {
  .on-screen {
    height: 306px;
    margin-bottom: 0;
  }
}

.advantage > img {
  opacity: 0.001;
  transition: all 1s;
}

.advantage:nth-child(1) > img,
.advantage:nth-child(3) > img {
  transform: translate3d(-60px, 0, 0) rotate(0.02deg);
}

.advantage:nth-child(2) > img,
.advantage:nth-child(4) > img {
  transform: translate3d(60px, 0, 0) rotate(0.02deg);
  order: 2;
}

.advantage.show > img {
  opacity: 1;
  transform: translate3d(0, 0, 0) rotate(0.02deg);
}

@media (min-width: 1024px) {
  .advantage {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;
  }

  .advantage:first-child,
  .advantage:nth-child(2),
  .advantage:nth-child(3) {
    background: none;
  }

  .advantage:last-child {
    background-position: top left;
  }

  .advantage:nth-child(even) {
    text-align: right;
  }

  .advantage:nth-child(even) > img {
    order: 2;
  }

  .advantage > img {
    max-height: initial;
  }

  .advantage:nth-child(even) .advantage__title {
    margin-left: auto;
  }

  .advantage:nth-child(odd) .advantage__text {
    margin-left: 30px;
  }

  .advantage:nth-child(even) .advantage__text {
    margin-right: 30px;
  }
}

.advantage__text {
  max-width: 736px;
  position: relative;
  opacity: 0.001;
  transition: all 1s;
  z-index: 1;
}

.advantage.show > .advantage__text {
  opacity: 1;
}

.advantage__title {
  max-width: 520px;
  margin-top: 10px;
}

/*Differences*/

.differences {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.differences__wrapper {
  max-width: 640px;
  margin: 0 auto;
}

.differences__title {
  text-align: center;
}

@media (min-width: 1024px) {
  .differences__wrapper {
    margin: 0;
  }
}

.differences__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 520px;
  text-align: left;
}

.differences__list-item {
  margin-bottom: 15px;
}

.differences__list-item::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: currentColor;
  height: 12px;
  width: 12px;
  margin: -3px 15px 0 -28px;
}

@media (min-width: 1024px) {
  .differences__list-item {
    margin-bottom: 20px;
  }

  .differences__list-item::before {
    height: 15px;
    width: 15px;
    margin: -3px 24px 0 -39px;
  }
}

.vgo-items {
  width: 50%;
  flex: 1 1 100%;
  padding: 24px 60px;
  background: url('./images/vgo_bg.png') no-repeat bottom center, #235146;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .vgo-items {
    flex: 1 1 50%;
    display: flex;
    padding: 80px 60px 60px 100px;
    background-position: 144px 125px;
    background-size: 100%;
  }
}

.steam-items {
  flex: 1 1 100%;
  padding: 24px 60px;
  background: url('./images/steam_bg.png') no-repeat bottom center, #460c25;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .steam-items {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
    padding: 80px 80px 60px 100px;
    background-position: 0 126px;
    background-size: 80%;
  }
}

/*Footer*/

.footer {
  text-align: center;
  background-color: #1e1d32;
  padding: 24px 30px 40px;
}

@media (min-width: 1024px) {
  .footer {
    padding: 80px 40px;
  }
}

.footer__description {
  font-size: 16px;
  max-width: 860px;
  margin: 20px auto 30px;
}

@media (min-width: 1024px) {
  .footer__description {
    font-size: 18px;
    margin: 40px auto;
  }
}

.cool-btn {
  min-width: 160px;
}

.footer__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .footer__title {
    font-size: 30px;
  }
}

@keyframes float {
  0%, 100% { transform: translateY(-12%); }
  50% { transform: translateY(-30%); }
}
